<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Homework 11-12 - Template engine</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/MIT_template.js"></script>
    <script type="text/javascript" src="js/template_script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/template_style.css">
</head>
<body>

<div class="wrapper">
    <div class="content"></div>
</div>

<script type="text/html" id="user_card">
    <% for ( var i = 0; i < users.length; i++ ) { %>
    <div class="userDescription">
        <h1><%= users[i].name %></h1>
        <img src="<%= users[i].photo %>" alt="<%= users[i].name %>">
        <p><%= users[i].description %></p>
    </div>
    <div class="userSkills">
        <h2>Basic skills:</h2>
        <ul>
            <li><%= users[i].skill_1 %></li>
            <li><%= users[i].skill_2 %></li>
            <li><%= users[i].skill_3 %></li>
        </ul>
    </div>
    <div class="userLocation">
        <h2>Location:</h2>
        <p><%= users[i].location %></p>
    </div>
    <div class="userContacts">
        <h2>Phone number:</h2>
        <p><%= users[i].phoneNumber %></p>
        <h2>Github profile:</h2>
        <p><a href="<%= users[i].githubProfile %>"> <%= users[i].githubProfile %></a></p>
    </div>
    <% } %>
</script>

</body>
</html>