* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #aaaaaa;
    width: 100%;
}

.content {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px 10%;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

h1 {
    text-transform: uppercase;
}

img {
    margin: 20px 0;
}

h2 {
    margin: 10px 0;
}

p, ul, li {
    margin-left: 20px;
}

.userDescription,
.userSkills,
.userLocation,
.userContacts {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #aaaaaa;
}

.userDescription {
    text-align: center;
}

.userDescription p {
    margin-left: 0;
    text-align: left;
}